<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="myVehicle" class="com.example.riley.myFirstProject.Car">
    	
    </bean>
    
    <bean id="myVehicle" class="com.example.riley.myFirstProject.Car">
    	
    </bean>

</beans>