<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>
<body>
    <h1>Quora Posts</h1>  
    <% for(let post of posts){ %> 
    <div>
        <h3> @ <%= post.username %> </h3>
        <h4> @ <%= post.content %> </h4>

    </div>
    <%} %>
</body>
</html>

