#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.file-input {
  margin: 20px 0;
}

.file-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.upload-button:hover {
  background-color: darkblue;
}

.transcription-result {
  margin-top: 30px;
  text-align: center;
  color: black;
}

.transcription-result h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: darkblue;
}

.transcription-result p {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd
}